/* Reset */

html * {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Typography */

html {
  font-family: 'Roboto', sans-serif;
  background: #eee;
  padding: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}